<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article3.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article3.body %>
</p>

<%= link_to 'Edit', edit_article3_path(@article3) %> |
<%= link_to 'Back', article3s_path %>
